.button-container{
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

button{
    width: 100px;
    height: 100px;
    color: var(--white-color);
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 2px 2px 3px var(--black-color);
    cursor: pointer;
    transition: all 0.3s ease-out;
    border-radius: 100%;
    border: none;
    box-shadow: -2px -2px 7px -3px var(--white-color);
}
button:active{
    transform: scale(0.97);
    box-shadow: 2px 2px 22px rgba(237, 231, 231, 0.791);
  
}
.increase-btn{
    background-color: rgb(102, 212, 102);
}
.increase-btn:hover{
    background-color: rgb(102, 212, 102, 0.8); 
}
.decrease-btn{
    background-color: rgb(205, 57, 57);
}
.decrease-btn:hover{
    background-color: rgb(205, 57, 57, 0.8);
}