/*.******************VARIABLES*******************.*/
:root{
  --white-color: rgb(255, 255, 255);
  --black-color: #1c1c1c;
  --grey-color:  rgb(128, 128, 128);
  --grey-alpha-color: rgba(237, 231, 231, 0.791);
  --main-font: 'Roboto', sans-serif;
  
}

/*.********************RESET********************.*/
html{
  font-size: 16px;
  font-family: var(--main-font);
}

*, *::after, *::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: var(--white-color);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin: 5%;
}

.counter-container{
  background-color: var(--black-color);
  min-width: 300px;
  max-width: fit-content;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5%;
  box-shadow: 5px 5px 20px var(--grey-color);
}