/*.******************VARIABLES*******************.*/
:root{
  --first-color: #056c68;
  --second-color: #3e9254;
  --third-color: #ead6cb;
  --forth-color: #03c9e6;
  --fifth-color: #034a8a;
  /*agregar tipos de fuentes*/
}

/*.********************RESET********************.*/
html{
  font-size: 16px;
  /*agregar fuente princpal*/
}

*, *::after, *::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
  overflow-x: hidden;
}